Repository hmcts/em-media-viewer, pull requests merged in 2021-03, with the labels that each got.

#344 add node api
  Dockerfile
  angular.json
  api/.prettierrc
  api/config.ts
  api/health.ts
  api/index.ts
  api/logger.ts
  api/package-lock.json
  api/package.json
  api/security/idam-client.ts
  api/security/service-auth-provider-client.ts
  api/security/token-repository.ts
  api/server.ts
  api/tsconfig.json
  api/tslint.json
  charts/em-media-viewer/Chart.yaml
  charts/em-media-viewer/values.yaml
  docker-compose.yml
  package.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-344

#337 Bug/em 2902 no horizontal scrolling
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/assets/sass/annotation-set.scss
  projects/media-viewer/src/assets/sass/comment-set-panel.scss
  projects/media-viewer/src/assets/sass/image-viewer.scss
  projects/media-viewer/src/assets/sass/pdf-viewer.scss
  projects/media-viewer/src/assets/sass/toolbar/main.scss
  projects/media-viewer/src/lib/media-viewer.component.html
  projects/media-viewer/src/lib/media-viewer.component.spec.ts
  projects/media-viewer/src/lib/media-viewer.component.ts
  projects/media-viewer/src/lib/viewers/image-viewer/image-viewer.component.html
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-js/pdf-js-wrapper.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.html
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.ts
  src/app/media-viewer-wrapper/media-viewer-wrapper.component.html
Labels: ns:em, prd:em, rel:em-media-viewer-pr-337

#345 EM-2902 Update workflow file
  .github/workflows/npmpublish.yml
Labels: ns:em, prd:em, rel:em-media-viewer-pr-345

#347 EM-3316 Add script to copy missing assets
  package.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-347

#350 fix ingressHost
  charts/em-media-viewer/Chart.yaml
  charts/em-media-viewer/values.yaml
Labels: ns:em, prd:em, rel:em-media-viewer-pr-350
