Repository hmcts/em-media-viewer, pull requests merged in 2021-08, with the labels that each got.

#381 EM-3566-Download E2E
  e2e/src/features/download.feature
  e2e/src/pages/download.po.ts
  e2e/src/step_definitions/media-viewer.ts
  e2e/src/utils/genericMethods.ts
  projects/media-viewer/src/lib/toolbar/redaction-toolbar/redaction-toolbar.component.html
  projects/media-viewer/src/lib/viewers/multimedia-player/multimedia-player.component.spec.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-381

#383 upgrade to pdfjs 2.5.207
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/viewers/multimedia-player/multimedia-player.component.html
  projects/media-viewer/src/lib/viewers/multimedia-player/multimedia-player.component.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-js/pdf-js-wrapper.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-js/pdf-js-wrapper.ts
  projects/media-viewer/yarn.lock
  src/app/media-viewer-wrapper/media-viewer-wrapper.component.html
Labels: ns:em, prd:em, rel:em-media-viewer-pr-383

#385 make comments class conditional on comment panel visibility
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.html
Labels: ns:em, prd:em, rel:em-media-viewer-pr-385

#384 EM-400-Multimedia E2E Tests
  e2e/src/features/multimedia.feature
  e2e/src/pages/multimedia.po.ts
  e2e/src/step_definitions/media-viewer.ts
  e2e/src/step_definitions/multimedia.ts
Labels: ns:em, prd:em, QA-Automation, rel:em-media-viewer-pr-384

#382 Updated Chart nodejs version
  charts/em-media-viewer/Chart.yaml
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-382

#388 EM-3569-CommentsPanel Additional Tests
  e2e/src/features/comments.panel.feature
  e2e/src/pages/commentspanel.po.ts
  e2e/src/step_definitions/media-viewer.ts
  e2e/src/utils/genericMethods.ts
Labels: ns:em, prd:em, QA-Automation, rel:em-media-viewer-pr-388

#387 fix comments panel scrolling updates
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/annotations/comment-set/comment-set-header/comment-set-header.component.html
  projects/media-viewer/src/lib/annotations/comment-set/comment-set-render.service.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set.component.html
  projects/media-viewer/src/lib/annotations/comment-set/comment-set.component.spec.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set.component.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment/comment.component.html
  projects/media-viewer/src/lib/annotations/comment-set/comment/comment.component.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.html
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-387
