Repository hmcts/em-media-viewer, pull requests merged in 2022-02, with the labels that each got.

#438 Fix Nightly Build
  audit.json
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-438

#440 Fix Nightly Build
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-440

#442 Update Chart nodejs version, suppress vulnerabilities
  charts/em-media-viewer/Chart.yaml
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-442

#444 undo chart upgrade
  charts/em-media-viewer/Chart.yaml
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-444

#445 Update helm chart
  charts/em-media-viewer/Chart.yaml
Labels: ns:em, prd:em, rel:em-media-viewer-pr-445

#447 [EM-4131 ] Multimedia Video E2E
  e2e/src/features/multimedia.feature
  e2e/src/step_definitions/multimedia.ts
Labels: ns:em, prd:em, EM-Automation, rel:em-media-viewer-pr-447

#448 [EM-4267]-Media viewer Security Scan
  Jenkinsfile_nightly
Labels: ns:em, prd:em, EM-Automation, rel:em-media-viewer-pr-448
