Repository hmcts/em-media-viewer, pull requests merged in 2022-05, with the labels that each got.

#477 [EM-4404]-Cross Browser Tests in Safari
  e2e/saucelabs.conf.js
  e2e/src/common/constants.js
  e2e/src/step_definitions/hooks.ts
  e2e/src/step_definitions/media-viewer.ts
  e2e/supportedBrowsers.js
  yarn-audit-known-issues
Labels: ns:em, prd:em, EM-Automation, rel:em-media-viewer-pr-477

#479 [EM-4369]-Comments Panel Tests Execution in Safari
  e2e/saucelabs.conf_Old.js
  e2e/src/step_definitions/media-viewer.ts
Labels: ns:em, prd:em, EM-Automation, rel:em-media-viewer-pr-479

#481 Upgrade Angular to version 8.0.0
  package.json
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-create/box-highlight-create/box-highlight-create.component.ts
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-view/annotation-view.component.ts
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-view/rectangle/rectangle.component.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-navigate/comments-navigate.component.spec.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set-header/comment-search/comment-search.component.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set-header/comment-search/commet-search.component.spec.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set.component.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment/comment.component.ts
  projects/media-viewer/src/lib/annotations/comments-summary/comments-summary.component.spec.ts
  projects/media-viewer/src/lib/annotations/comments-summary/comments-summary.component.ts
  projects/media-viewer/src/lib/media-viewer.component.ts
  projects/media-viewer/src/lib/toolbar/main-toolbar/main-toolbar.component.ts
  projects/media-viewer/src/lib/toolbar/search-bar/search-bar.component.ts
  projects/media-viewer/src/lib/viewers/image-viewer/image-viewer.component.ts
  projects/media-viewer/src/lib/viewers/multimedia-player/multimedia-player.component.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.ts
  projects/media-viewer/src/lib/viewers/unsupported-viewer/unsupported-viewer.component.ts
  src/app/media-viewer-wrapper/custom-toolbar/custom-toolbar.component.ts
  src/app/media-viewer-wrapper/custom-toolbar/search-bar/search-bar.component.ts
  tsconfig.json
  tsconfig.spec.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-481

#485 Set the version of chromedriver to match Jenkins'
  package.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-485

#486 Bump mv version to 2.7.13
  package.json
  projects/media-viewer/package.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-486

#488 Fix media viewer and release new version
  e2e/ci.protractor.conf.js
  package.json
  projects/media-viewer/package.json
  tsconfig.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-488

#489 Undo ngrx updgrades
  package.json
  projects/media-viewer/package.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-489

#498 Update peer dependencies, bump package version
  package.json
  projects/media-viewer/package.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-498

#497 Upgrade Angular to version 9, release media viewer version 2.8.0
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/annotations/comment-set/comment-set-header/comment-set-header.component.spec.ts
  projects/media-viewer/src/lib/annotations/comment-set/comment-set.component.spec.ts
  projects/media-viewer/src/lib/annotations/comments-summary/comments-summary.component.spec.ts
  projects/media-viewer/src/lib/annotations/services/annotation-api/annotation-api.service.spec.ts
  projects/media-viewer/src/lib/annotations/services/bookmarks-api/bookmarks-api.service.spec.ts
  projects/media-viewer/src/lib/annotations/services/tags/tags.service.spec.ts
  projects/media-viewer/src/lib/icp/confirm-exit/confirm-action-dialog.component.spec.ts
  projects/media-viewer/src/lib/icp/icp-follower.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-presenter.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-session-api.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-update.service.spec.ts
  projects/media-viewer/src/lib/icp/icp.service.spec.ts
  projects/media-viewer/src/lib/icp/participants-list/participants-list.component.spec.ts
  projects/media-viewer/src/lib/media-viewer.component.spec.ts
  projects/media-viewer/src/lib/redaction/services/redaction-api.service.spec.ts
  projects/media-viewer/src/lib/store/effects/annotation.effects.spec.ts
  projects/media-viewer/src/lib/store/effects/bookmarks.effects.spec.ts
  projects/media-viewer/src/lib/store/effects/document.effects.spec.ts
  projects/media-viewer/src/lib/store/effects/icp.effects.spec.ts
  projects/media-viewer/src/lib/store/effects/redaction.effects.spec.ts
  projects/media-viewer/src/lib/store/reducers/bookmarks.reducer.spec.ts
  projects/media-viewer/src/lib/store/reducers/tags.reducer.ts
  projects/media-viewer/src/lib/store/selectors/annotation.selectors.spec.ts
  projects/media-viewer/src/lib/store/selectors/bookmark.selectors.spec.ts
  projects/media-viewer/src/lib/store/selectors/document.selectors.spec.ts
  projects/media-viewer/src/lib/store/selectors/icp.selectors.spec.ts
  projects/media-viewer/src/lib/store/selectors/tag.selectors.spec.ts
  projects/media-viewer/src/lib/toolbar/icp-toolbar/icp-toolbar.component.spec.ts
  projects/media-viewer/src/lib/toolbar/main-toolbar/main-toolbar.component.spec.ts
  projects/media-viewer/src/lib/toolbar/redaction-toolbar/redaction-toolbar.component.spec.ts
  projects/media-viewer/src/lib/viewers/convertible-content-viewer/document-conversion-api.service.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-viewer.component.spec.ts
  projects/media-viewer/src/lib/viewers/rotation-persist/rotation-api.service.spec.ts
  projects/media-viewer/src/lib/viewers/viewer-util.service.spec.ts
  projects/media-viewer/src/public_api.ts
  tsconfig.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-497

#502 Fix problems with angular 9
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/tsconfig.lib.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-502
