Repository hmcts/em-media-viewer, pull requests merged in 2023-02, with the labels that each got.

#681 disable ivy
  package.json
  projects/media-viewer/ng-package.json
  projects/media-viewer/ng-package.prod.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/media-viewer.module.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.ts
  projects/media-viewer/tsconfig.lib.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-681

#682 updated the time to check the focus
  projects/media-viewer/src/lib/toolbar/search-bar/search-bar.component.ts
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-682

#683 Updated chart version
  charts/em-media-viewer/Chart.yaml
Labels: ns:em, prd:em, rel:em-media-viewer-pr-683

#657 Em 2669 redact page
  projects/media-viewer/src/assets/images/icon-page.svg
  projects/media-viewer/src/assets/sass/toolbar/redaction-toolbar.scss
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-create/box-highlight-create/box-highlight-create.component.spec.ts
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-create/box-highlight-create/box-highlight-create.component.ts
  projects/media-viewer/src/lib/toolbar/redaction-toolbar/redaction-toolbar.component.html
  projects/media-viewer/src/lib/toolbar/redaction-toolbar/redaction-toolbar.component.spec.ts
  projects/media-viewer/src/lib/toolbar/redaction-toolbar/redaction-toolbar.component.ts
  projects/media-viewer/src/lib/toolbar/toolbar-event.service.ts
  test/end-to-end/data/commonConfig.json
  test/end-to-end/helpers/mvCaseHelper.js
  test/end-to-end/mvFeatures/redact.js
  test/end-to-end/pages/redact/redactFirstPage.js
  test/end-to-end/pages/redact/redactMultiplePages.js
  test/end-to-end/pages/steps.js
Labels: ns:em, prd:em, rel:em-media-viewer-pr-657

#664 Em 3445 cannot redact text after clicking grab and drag
  projects/media-viewer/src/lib/toolbar/toolbar-event.service.spec.ts
  projects/media-viewer/src/lib/toolbar/toolbar-event.service.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-664

#688 Free space in toolbar
  projects/media-viewer/src/assets/sass/toolbar/main-toolbar.scss
  projects/media-viewer/src/lib/toolbar/main-toolbar/main-toolbar.component.html
Labels: ns:em, prd:em, rel:em-media-viewer-pr-688

#691 [EM-4903]-Execute tests on local env
  test/end-to-end/helpers/mvCaseHelper.js
  test/end-to-end/pages/common/constants.js
  test/end-to-end/pages/idam/signIn.js
Labels: ns:em, prd:em, migrate-protractor-framework-to-codeceptjs, rel:em-media-viewer-pr-691

#692 [EM-5045]-MV-Dependency Check Fix
  yarn-audit-known-issues
Labels: ns:em, prd:em, em-support, rel:em-media-viewer-pr-692

#694 test to toggle redaction mode on or off
  projects/media-viewer/src/lib/toolbar/toolbar-event.service.spec.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-694
