Repository hmcts/em-media-viewer, pull requests merged in 2024-05, with the labels that each got.

#990 Disabled Spot instances
  charts/em-media-viewer/Chart.yaml
  charts/em-media-viewer/values.yaml
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-990

#992 EM-6016: fix bookmark test named 'custom order and reorder bookmarks' to its original behaviour
  test/end-to-end/data/commonConfig.json
  test/end-to-end/mvFeatures/bookMarks.js
  test/end-to-end/pages/bookMarks/customOrderBookmarks.js
Labels: ns:em, prd:em, rel:em-media-viewer-pr-992

#993 EM-5790 : Scroll bar when the bookmark side bar is open
  projects/media-viewer/src/assets/sass/toolbar/side-bar.scss
Labels: ns:em, prd:em, rel:em-media-viewer-pr-993

#994 EM-6026: bug when child bookmark is moved between different parent bookmarks
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.ts
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-994

#995 EM-6033 - bookmark tab freeze when moving bookmarks for couple of minutes
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.html
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/bookmarks/bookmarks.component.ts
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-995

#996 em-6037: fix mv nightly
  audit.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-996

#997 EM-6025 : Resolve PED caseId & list of followers issue
  projects/media-viewer/src/lib/icp/icp-presenter.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-session-api.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-session-api.service.ts
  projects/media-viewer/src/lib/icp/icp-update.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-update.service.ts
  projects/media-viewer/src/lib/icp/icp.interfaces.ts
  projects/media-viewer/src/lib/icp/icp.service.spec.ts
  projects/media-viewer/src/lib/icp/icp.service.ts
  projects/media-viewer/src/lib/store/actions/icp.actions.spec.ts
  projects/media-viewer/src/lib/store/actions/icp.actions.ts
  projects/media-viewer/src/lib/store/effects/icp.effects.spec.ts
  projects/media-viewer/src/lib/store/effects/icp.effects.ts
  projects/media-viewer/src/lib/store/reducers/icp.reducer.spec.ts
  projects/media-viewer/src/lib/store/selectors/icp.selectors.spec.ts
Labels: DO NOT MERGE, ns:em, prd:em, rel:em-media-viewer-pr-997

#999 em-6044: added fingerprints to audit.json
  audit.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-999

#1000 em-6050: added fingerprints to audit.json
  audit.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1000
