Repository hmcts/em-media-viewer, pull requests merged in 2025-03, with the labels that each got.

#1154 WIP:updates aria label and properites to match dragon inputs
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/toolbar/search-bar/search-bar.component.html
  test/end-to-end/pages/search/contentSearch.js
  test/end-to-end/pages/search/enterShouldJumpViewerToNextSearchResults.js
  test/end-to-end/pages/search/searchResultsNavigationUsingNextAndPrevious.js
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-1154

#1159 WIP:updates contrast colour
  projects/media-viewer/src/assets/sass/outline-attachment.scss
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1159

#1157 WIP:adds aria pressed attr to required buttons
  projects/media-viewer/src/lib/viewers/pdf-viewer/side-bar/side-bar.component.html
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1157

#1163 WIP:updates aria labels
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/toolbar/main-toolbar/main-toolbar.component.html
  projects/media-viewer/src/lib/toolbar/main-toolbar/main-toolbar.component.ts
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-1163

#1164 changing from currentTarget to Target
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-create/box-highlight-create/box-highlight-create.component.spec.ts
  projects/media-viewer/src/lib/annotations/annotation-set/annotation-create/box-highlight-create/box-highlight-create.component.ts
  yarn-audit-known-issues
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1164
