Repository hmcts/em-media-viewer, pull requests merged in 2025-07, with the labels that each got.

#1165 EXUI-2895: Refactor PED access token from URL
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/icp/icp-session-api.service.ts
  projects/media-viewer/src/lib/icp/icp-update.service.spec.ts
  projects/media-viewer/src/lib/icp/icp-update.service.ts
  projects/media-viewer/src/lib/store/effects/icp.effects.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1165

#1178 EXUI-3147 - Fix CVE issue
  package.json
  projects/media-viewer/package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-1178

#1184 Fix form-data CVE in media-viewer
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:em, prd:em, enable_keep_helm, rel:em-media-viewer-pr-1184

#1188 update audit.json
  audit.json
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1188
