Repository hmcts/em-media-viewer, pull requests merged in 2025-09, with the labels that each got.

#1203 EXUI-3453 - Update redaction page draw code to only run if redaction enabled
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-js/pdf-js-wrapper.spec.ts
  projects/media-viewer/src/lib/viewers/pdf-viewer/pdf-js/pdf-js-wrapper.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1203

#1206 exui 3676 vulnarability fixes
  package.json
  yarn.lock
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1206

#1210 EXUI-2836 -
  package.json
  projects/media-viewer/package.json
  projects/media-viewer/src/lib/icp/icp-update.service.ts
  projects/media-viewer/src/lib/icp/socket.service.spec.ts
  projects/media-viewer/src/lib/icp/socket.service.ts
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1210

#1219 Log vault values
  charts/em-media-viewer/Chart.yaml
  charts/em-media-viewer/values.yaml
Labels: ns:em, prd:em, rel:em-media-viewer-pr-1219
